@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins";
  line-height: 1.7;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

img {
  width: 100%;
}

h0 {
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
}

h1 {
  font-size: 64px;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-weight: 300;
}

h4 {
  font-size: 16px;
  font-weight: 300;
}

h5 {
  font-size: 8px;
  font-weight: 300;
}

.main-container {
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* header */
.navbar-container {
  width: 1280px;
  height: 70px;
  margin: 0 auto; /* Center the container */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0; /* Fix the navbar at the top */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
.navbar {
  width: 100%;
  height: 100%;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}
.navbar-background {
  width: 100%;
  height: 70px;
  background-color: white;
  position: fixed;
  z-index: 90;
}

.header-page-button {
  width: 420px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
}

.header-btn-1 {
  padding: 24px;
  color: rgb(97, 97, 97);
}

.header-btn-2 {
  width: 100px;
  height: 40px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0.25px solid rgb(97, 97, 97);
  border-radius: 0.25rem;
  font-weight: 400;
  margin-left: 24px;
}

.header-page-button .header-btn-2:hover {
  background-color: black;
  color: white;
  font-weight: 600;
  border: none;
  transition: all 0.3s;
}

.header-page-button a {
  text-decoration: none;
  position: relative;
}

.header-page-button a.selected {
  font-weight: 600;
  color: black;
}

.header-page-button a:hover {
  font-weight: 600;
  color: black;
}

.header-page-button a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 0.5px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.header-page-button a:hover::after,
.header-page-button a:focus::after,
.header-page-button a.selected::after {
  font-weight: 600;
  background-color: black;
}
.header-page-button .header-btn-2::after {
  content: none;
}

.logo {
  width: 84px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text-band {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.menu-icon {
  display: none; /* Hidden by default */
}

.top,
.bottom {
  grid-column: 1;
  justify-content: end;
}

.right {
  grid-column: 2;
  grid-row: 1 / span 2;
  width: 252px;
  align-self: flex-end;
  justify-self: flex-end;
}

.header-text {
  font-size: xx-large;
  font-weight: 400;
  color: #000;
  z-index: 2;
}

/* About */

.about-top {
  margin-top: 80px;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
}

.about-hero {
  order: 1;
  height: 100%;
  width: 50%;
  position: relative;
  overflow: hidden;
}
.about-hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about-top-text {
  order: 2;
  height: 100%;
  width: 50%;
  display: flex; /* Add flex display */
  flex-direction: column; /* Align children vertically */
  justify-content: center; /* Center the text vertically */
  padding-left: 80px;
  padding-right: 320px;
}
.about-top-text-title {
  color: #000;
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 120px;
}
.about-top-text-body-1 {
  font-size: 28px;
  font-weight: 300;
  line-height: 36px;
  color: black;
}

.about-top-text-body-2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: black;
}
.about-text {
  box-sizing: border-box;
  margin: auto;
  width: 85%;
  padding: 0 60px;
  text-align: center;
  width: 100%;
  color: black;
  position: absolute;
  top: 80px;
  z-index: 10ß;
}

.deliver-page {
  height: 560px;
  width: 100%;
  padding: 160px 0px 160px 0px;
}

.deliver-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 160px;
  row-gap: 80px;
  grid-area: "dtile-1" "dtile-1" "dtile-1" "dtile-1";
  margin-top: 24px;
}

.deliver-tile {
  padding: 24px 0px;
}

.deliver-tile-title {
  color: #131417;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
  padding-bottom: 8px;
}

.deliver-tile-title::after {
  content: "";
  display: block;
  position: relative;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
}

.deliver-tile-text {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  padding-top: 8px;
}

/* about-worktile */
/* work-tile */

.profile {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 160px;
  padding-top: 160px;
}

.profile-tile {
  height: 100%;
  width: 100%;
  padding: 160px 0px;
  overflow: hidden;
}

.profile-picture {
  width: 100%;
  height: 640px;

  position: relative;
  overflow: hidden;
}
.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  overflow: hidden;
}

.profile-text {
  color: #000;
  display: block;
}
.profile-text-1 {
  margin-top: 16px;
  color: black;
  font-size: 24px;
  font-weight: 500;
}

.profile-text-2 {
  color: black;
  font-size: 16px;
  margin: 8px 0px;
}

.selected-clients {
  height: 200px;
  width: 100%;
  margin-bottom: 160px;
}
.client-logos {
  display: flex;
  justify-content: space-between;
}

.client-logos img {
  width: auto;
}

.work-tiles-0 {
  width: 100%;
  display: grid;
}
.work-tiles-1 {
  width: 100%;
  display: grid;
  grid-template-columns: calc(46% - 40px) calc(54% - 40px);
  grid-template-rows: repeat(2, 430px);
  grid-gap: 60px 80px;
  grid-template-areas: "gtop gside" "gbottom gside";
}

.work-tiles-2 {
  width: 100%;
  display: grid;
  grid-template-columns: calc(54% - 40px) calc(46% - 40px);
  grid-template-rows: repeat(2, 430px);
  grid-gap: 60px 80px;
  grid-template-areas: "gside gtop" "gside gbottom";
}

/* .work-tile img {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
}
*/
/* Container for portrait-oriented images */

.gside {
  grid-area: gside;
}

.work-tile.small picture {
  width: 100%;
  /* Specific width for small tile image */
  height: 350px;
  display: block;
  /* Specific height for small tile image */
  overflow: hidden;
}

.work-tile.medium picture {
  width: 100%;
  /* Specific width for medium tile image */
  height: 840px;
  /* Specific height for medium tile image */
  overflow: hidden;
}

.work-tile.small img {
  width: 100%;
  height: 350px;
  /* Specific height for small tile image */
  object-fit: cover;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}
.work-tile.small img:hover {
  transform: scale3d(1.1, 1.1, 1);
}
.work-tile.medium img {
  width: 100%;
  /* Specific width for medium tile image */
  height: 840px;
  /* Specific height for medium tile image */
  object-fit: cover;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}
.work-tile.medium img:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.work-tile .strap {
  margin-top: 10px;
  display: grid;
  color: black;
}

.work-tile h3 {
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  font-weight: 500;
  color: #000;
}

.work-tiles h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-weight: 400;
  color: #000;
}

.work-tile.small {
  width: 100%;
  align-items: center;
  /* Center the image vertically */
  position: relative;
  overflow: hidden;
  /* Hide overflow */
}

.work-tile.small .text {
  width: 84%;
}

.work-tile.medium {
  width: 100%;
  align-items: center;
  /* Center the image vertically */
  position: relative;
  overflow: hidden;
  /* Hide overflow */
}

.work-tile.medium .text {
  width: 66%;
}

.work-tile.half {
  width: calc(50% - 20px);
}

.work-tile.half .text {
  width: 66%;
}

.work-tile .tags {
  margin-top: 20px;
}

/* footer */
.footer {
  background-color: #000;
  color: white;
}

.footer-tile {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 480px;
  grid-template-rows: 108px 346px 62px;
  grid-template-areas: "fgtop fgtop" "fgbody-1 fgbody-2" "fgbottom fgbottom";
}

.fgtop {
  grid-area: fgtop;
  border-bottom: 0.25px solid rgb(97, 97, 97);
}

.fgbottom {
  grid-area: fgbottom;
  border-top: 0.25px solid rgb(97, 97, 97);
}

.fgbody-01 {
  grid-area: fgbody-01;
}

.fgbody-02 {
  grid-area: fgbody-02;
}

.fgbody-1 {
  grid-area: fgbody-1;
}

.fgbody-2 {
  grid-area: fgbody-2;
  border-left: 0.25px solid rgb(97, 97, 97);
}

.footer-top {
  display: flex;
  height: 108px;
  padding: 54px 0px 22px 0px;
  justify-content: space-between;
  align-items: center;
}

.footer-top img {
  display: flex;
  width: auto;
  height: 100%;
  background: none;
}

.footer-top button {
  display: flex;
  width: auto;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.footer-top button:hover img {
  content: url("/img/Back_top_hover.svg");
}

.footer-body-1 {
  display: flex;
  align-items: center;
}

.footer-contact {
  display: grid;
}
.footer-contact label {
  margin-bottom: 20px;
}

.footer-body-1 input {
  width: 100%;
  height: 20px;
  padding: 17px 0px 17px 24px;
  background-color: transparent;
  border: 0.25px solid rgb(97, 97, 97);
  border-radius: 0.25rem;
}

::placeholder {
  font-size: 10.5px;
  font-weight: 100;
  color: white;
  line-height: 1;
}

.footer-body-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Ensures vertical centering if needed */
}

.website-map {
  display: flex;
  width: fit-content;
  /* Adjusts width to fit its content */
  justify-content: space-between;
  /* Adds space between the children */
}

.website-map-left,
.website-map-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Aligns links to the left */
}

.website-map-left {
  margin-right: 80px;
  /* Space between left and right sections */
}

.website-map a {
  color: #878685;
  font-family: "Poppins", sans-serif;
  /* Ensures the font fallbacks to sans-serif */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 159.091% */
  display: block;
  /* Makes the <a> tags block level for better control */
  cursor: pointer;
}

.website-map a:hover,
.website-map a:active {
  color: #ffffff;
  /* Changes text color to white on hover and active */
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #878685;
  font-size: 13.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 159.091% */
}

.footer-social-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.footer-social-item li {
  display: inline-flex;
  align-items: center;
  justify-self: center;
  margin-right: 40px;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.footer-social-item a {
  display: inline-flex;
  align-items: center;
  justify-self: center;
  color: #878685;
}

.footer-social-item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* button-57 */
.button-57 {
  width: 125px;
  height: 40px;

  border-radius: 0.25rem;
  font-weight: 400;

  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 16px;
  line-height: 15px;
  padding: 8px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
  top: 30%;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: relative;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 30%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.close-button {
  color: tomato;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Email Modal */
.modal {
  position: fixed;
  /* Stay in place */
  align-self: center;
  justify-self: center;
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 10px;
  width: 672px;
  /* Full width */
  height: auto;
  /* Full height */
  padding: 64px 48px;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  /* Black w/ opacity */
  border: 0px;
  border-radius: 24px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}
.modal::backdrop {
  background: rgba(59, 59, 59, 0.75);
  opacity: 0.75;
}

.content-head {
  font-size: 48px;
  font-weight: 400;
  line-height: 78px;
  color: #fff;
}
.is-center {
  text-align: center;
}

.form-elements {
  display: flex;
  flex-direction: column;
}
.pure-group {
  border: none;
  display: grid;
}
.pure-group label {
  font-family: poppins;
  display: block;
  margin: 0 0 0.5em;
  font-size: 14px;
  font-weight: 200;
  color: #fff;
}

.pure-group input {
  font-family: poppins;
  width: 100%;
  height: 48px;
  padding: 16.5px 17px;
  border: 1px solid #1c1c1c;
  border-radius: 12px;
  box-sizing: border-box;
  margin-bottom: 5px;
  background-color: #1c1c1c;
  color: #aaa;
}
.pure-group ::placeholder {
  color: #aaa;
  font-size: 14px;
}
textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  background-color: #1c1c1c;
  color: #aaa;
  border-radius: 12px;
  padding: 14px;
  font-family: poppins;
}
textarea::placeholder {
  padding: 4px 10px;
  font-size: 14px;
  font-family: poppins;
  color: #aaa;
}

.button-success {
  color: #1c1c1c;
  display: flex;
  width: 120px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  font-size: 16px;
  font-weight: 400;
  background: white;
  cursor: pointer;
}
.button-success:hover {
  color: white;
  border:1px solid white;
  background: black;
}

.honeypot-field {
  display: none;
}

.thankyou_message {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}
.thankyou_message p {
  margin: 24px auto;
}

@media only screen and (max-width: 1439px) {
  h0 {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
  }

  h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
  }

  .navbar-container {
    width: calc(100% - 160px);
  }

  .main-container {
    width: calc(100% - 160px);
  }
  .about-top-text {
    padding-left: 60px;
    padding-right: 160px;
  }
  .about-top {
    margin-top: 0;
  }

  .spacer-3 {
    height: 140px;
  }
  .spacer-4 {
    height: 80px;
  }
}

@media only screen and (max-width: 1279px) {
  .header-text-band {
    display: block;
  }

  .carousel-button {
    display: none;
  }
  .carousel-indicator {
    height: 6px;
    width: 6px;
  }
  .main-container {
    width: calc(100% - 32px);
  }
  .carousel {
    height: 65vw;
  }

  .work-tile .text {
    font-size: 24px;
    line-height: 30px;
  }

  .carousel-container {
    overflow-x: auto; /* Enable horizontal scrolling */
  }

  .filter-bar {
    width: calc(100% - 32px);
    margin: auto;
    /* height: 84px; */
    display: flex;
    /* flex-wrap: wrap;*/
    justify-content: space-between;
    transition: transform 0.3s ease;
    flex-wrap: nowrap;
    white-space: nowrap; /* Prevent line break */
    overflow-x: scroll; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
  }

  .btn-filter {
    font-size: 24px;
    padding: 10px 20px;
  }
  .btn-filter img {
    width: 24px; /* Adjusted size for mobile */
    height: 24px;
    margin-left: 10px; /* Adjusted margin for mobile */
  }

  .spacer-3 {
    height: 70px;
  }
  .spacer-4 {
    height: 40px;
  }
  .spacer-5 {
    height: 40px;
  }
  .spacer-6 {
    height: 0px;
  }

  .work-tile {
    margin: 0 10px 20px 0;
  }

  .work-tile .text {
    font-size: 18px;
    line-height: 24px;
  }

  .work-tiles-0 {
    width: 100%;
    display: grid;
  }
  .work-tile.uniform picture {
    width: 100%;
    /* Specific width for small tile image */
    height: 350px;
    display: block;
    /* Specific height for small tile image */
    overflow: hidden;
  }

  .work-tile.uniform img {
    width: 100%;
    height: 350px;
    /* Specific height for small tile image */
    object-fit: cover;
  }

  .work-tile.uniform {
    width: 100%;
    align-items: center;
    /* Center the image vertically */
    position: relative;
    overflow: hidden;
    /* Hide overflow */
  }

  .work-tile.uniform .text {
    width: 84%;
  }

  .footer-tile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 108px 212px 282px 144px;
    grid-template-areas: "fgtop" "fgbody-01" "fgbody-02" "fgbottom";
  }
  .footer-body-1 {
    display: flex;
    align-items: center;
    padding-top: 40px;
  }
  .footer-body-2 {
    display: flex;
    justify-content: start;
    align-items: center; /* Ensures vertical centering if needed */
    padding: -40px;
  }
}

@media (max-width: 768px) {
  h0 {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
  }

  h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
  }

  .spacer-1 {
    height: 120px;
  }

  .main-container {
    width: calc(100% - 32px);
  }

  /* navbar */
  .navbar-container {
    width: calc(100% - 32px);
  }
  .navbar-container.full-width {
    width: 100%;
  }

  .menu-icon {
    display: block;
    /* Show menu icon on small screens */
    cursor: pointer;
    color: black;
    /* Changed color to black to match the theme */
    position: relative;
    z-index: 9999;
  }

  .menu-icon-bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: 0.4s;
    z-index: 9999;
  }

  .logo {
    width: 50px;
    height: 24px;
  }
  .logo img {
    transition: all 0.3s ease;
  }

  .header-page-button {
    display: none;
    /* Hide the menu by default */

    flex-direction: column;
    width: 100%;
    /* Full width on mobile */
    text-align: center;
    position: absolute;
    /* Make it position absolute */
    top: 70px;
    /* Position it below the navbar */
    left: 0;
    background-color: white;
    /* Ensure it's visible */
    z-index: 9998;
    /* Ensure it appears above other content */
  }

  .header-page-button a {
    width: 100%;
    padding: 15px;
    text-decoration: none;
    color: #fff;
  }

  .header-page-button.active {
    width: 100%;
    height: 400px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    padding-bottom: 60px;
  }

  .header-btn-1.button-like {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 24px;
  }

  .header-btn-1::before {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust this value to position the line */
    left: 0;
    width: 100%;
    height: 0.5px; /* Adjust thickness as needed */
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .header-btn-1.button-like::before {
    bottom: auto;
    top: 100%;
    transform: scaleX(1);
    background-color: #878685;
  }

  .header-btn-1.button-like::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("/img/Button_filter_unselected_white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    top: 2px;
    position: relative;
  }

  .header-btn-1.button-like.selected {
    background-color: black;
    color: #ffeb72;
  }
  .header-btn-1.button-like.selected::before {
    background-color: #ffeb72;
  }

  .header-btn-1.button-like.selected::after {
    background-image: url("/img/Logo-yellow.svg");
  }

  .navbar.menu-open {
    background-color: #000;
    padding: 0px 16px;
  }

  .navbar .menu-open ::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
  }
  .navbar.menu-open .menu-icon-bar {
    background-color: #fff;
  }

  .navbar.menu-open .menu-icon-bar:first-child {
    transform: rotate(-45deg) translate(0px, 6px);
  }

  .navbar.menu-open .menu-icon-bar:last-child {
    transform: rotate(45deg) translate(0px, -6px);
  }

  .navopen {
    position: relative;
    align-self: flex-end;
    top: 16px;
    width: 100%;
    padding: 15px;
    background-color: transparent;
    border: none;
    color: black;
    background-color: white;
    font-family: poppins;
    cursor: pointer;
  }

  .navopen .button-img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  .header-text.bottom {
    margin-top: 16px;
  }
  .header-text.right {
    margin-top: 24px;
  }

  .header-text-small h0 {
    font-size: 36px;
  }
  /* text-top */
  .about-top {
    flex-direction: column;
    height: auto;
    width: calc(100% - 32px);
    margin-left: 16px;
  }

  .about-top-text {
    order: 1;
    width: 100%;
    padding: 0px;
  }
  .about-hero {
    width: 100%;
    height: 262px;
    order: 2;
    margin-top: 48px;
  }

  .about-top-text-body-1 {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
  .about-top-text-body-2 {
    font-size: 16px;
    line-height: 24px;
  }
  .about-top-text-title {
    font-size: 48px;
    line-height: 64px;
  }
  /* Deliver  */
  .deliver-page {
    margin-top: 48px;
    padding: 0px;
    height: 100%;
  }
  .deliver-page h0 {
    font-size: 36px;
  }
  .deliver-tiles {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  .deliver-tile {
    padding-top: 24px;
    padding-bottom: 0px;
  }

  /* profiles */
  .profile {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    padding-top: 0px;
  }
  .profile-text-2 {
    font-weight: 300;
  }
  .profile-tile {
    padding: 64px 0px;
  }
  .profile-picture {
    height: 350px;
  }

  /* selected clients */
  .selected-clients h1 {
    font-size: 36px;
  }
  .selected-clients {
    margin-bottom: 0;
  }
  .client-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    column-gap: 48px;
  }
  .client-logos img {
    height: 48px;
  }

  /* spacer */

  .spacer-7 {
    height: 60px;
  }
  .spacer-8 {
    height: 60px;
  }
  /* button-57 */
.button-57 {
  font-size: 14px;
  line-height: 15px;
  padding-top: 12px;
}

    /* footer */

    .footer-tile {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 82px 165px 240px 120px;
      grid-template-areas: "fgtop" "fgbody-01" "fgbody-02" "fgbottom";
      overflow-x: hidden;
    }
  
    .footer-top {
      height: auto;
      padding: 24px 0;
      justify-content: space-between;
      align-items: center;
    }
    .footer-top button {
      align-items: center;
    }
  
    .footer-top img {
      width: 50px;
      height: 24px;
    }
  
    .footer-body-1 {
      display: flex;
      align-items: center;
      padding-top: 24px;
    }
  
    .footer-body-2 {
      display: flex;
      justify-content: start;
      align-items: center;
      /* Ensures vertical centering if needed */
    }
  
    .website-map a {
      line-height: 32px;
    }
  
    .footer-bottom {
      display: block;
    }
  
    .footer-social-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: start;
      list-style-type: none;
    }
  
    .footer-social-item li {
      margin-right: 0px;
    }
  
    .legal-text {
      margin: 20px 0px;
    }
  /* Email Modal */
  .modal {
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 64px 24px;
  }

  .content-head {
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    color: #fff;
  }
}
